.teamDetails {
  hr {
    clear: both;
  }
  .team {
    width: 100%;
    img {
      height: 150px;
      padding: 5px 0px;
    }
  }
  h4.subtitle {
    text-transform: capitalize;
    span {
      font-weight: 300;
      font-size: 20px;
    }
  }
}
