.team {
  cursor: pointer;
  display: flex;
  align-items: center;
  text-align: left;
  .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
}
