.league {
  padding: 10px 0px;
  margin-top: 15px;
  #logo {
    border-right: 1px solid #145068;
    img {
      width: 120px;
      height: 120px;
    }
  }
  .content,
  .content .info {
    display: flex;
    align-items: center;
  }
  .content {
    height: 50%;
    h3 {
      text-transform: capitalize;
    }
  }
  .info {
    font-size: 17px;
    font-weight: 200;
    justify-content: flex-start;
    img {
      margin-right: 10px;
    }
  }
  .icons {
    height: 15px;
  }
  h3 {
    text-align: left;
  }
}
