.teams {
  .team {
    float: left;
    margin-bottom: 1%;
    width: 32.65% !important;
    &:not(:nth-child(3n)) {
      margin-right: 1% !important;
    }
    img {
      height: 75px;
      padding: 5px 0px;
    }
  }
}
