.App {
  text-align: center;
  .align-right {
    display: flex;
    justify-content: flex-end;
  }
  .btn-link {
    font-size: 18px;
    font-weight: 400;
    color: #145068;
    &:hover {
      color: #fbad3d;
    }
  }
  h3.title {
    text-align: left;
    padding-top: 20px;
    text-shadow: 1px 1px 1px #145068;
  }
  h4.subtitle {
    text-align: left;
    margin-bottom: 25px;
  }
  hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  }
  .box {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 3px 0px;
  }
}
